h1{
    color:lightslategrey;
}
strong{
    color:blue;
    font-size:30px;
}
ul{
    color:coral;
    font-size:20px;
}
.text{
    color:darkgreen;
}
h2{
    font-size: 20px;
}
a{
    font-size: 25px;
    color:indianred;
}
span{
    width : 1000px; height: 1000px;
    margin-left: 500px;
   
}
div{
    padding-top: 10px;
    padding-right: 20px;
}

